"*":
  "aligner-ruby": {}
  "atom-beautify":
    _analyticsUserId: "d1ef032c-5234-4ed8-aa1c-9f887e99f769"
  core:
    audioBeep: false
    autoHideMenuBar: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Fira Code"
    fontSize: 33
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "find-and-replace": {}
  nuclide:
    remoteProjectsConfig: []
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  tablr:
    csvEditor: {}
    tableEditor: {}
  welcome:
    showOnStartup: false
".source.ts":
  editor:
    tabLength: 4
".source.tsx":
  editor:
    tabLength: 4
